* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #0b1020, #101a33);
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #eef2ff;

}

.buscador {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 20px;
  /* border: 1px solid rgb(255, 0, 0); */
  margin-top: 100px
}

.buscador__contenedor {
  border: 1px solid rgb(68, 68, 68);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.05);
  padding: 32px 24px;
  border-radius: 16px;
  text-align: center;
}

.buscador__titulo {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.buscador__formulario {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buscador__input {
  padding: 12px 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.buscador__boton {
  padding: 12px;
  border-radius: 13px;
  margin: 20px 100px 0;
  border: none;
  font-weight: 600;
  background: #6d5efc;
  color: #0b1020;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 4px 12px rgba(109, 94, 252, 0.4);
}

.buscador__boton:hover {
  background: #35c6ff;
}
.buscador__img {
  max-width: 40%;
  max-height: 600px;
  height: auto;
  border-radius: 12px;
  margin: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.711);
}

.buscador__resultado {
  margin-top: 20px;
  padding: 16px;
  background: rgba(134, 134, 134, 0.404);
  border-radius: 12px;
  text-align: left;
  width: 80%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: start;

}

.buscador__info {
  margin-left: 20px;
  color: #eef2ff;
}

.buscador__info--titulo {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.buscador__info--resumen {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 160px;
  text-align: justify;
}

.buscador__info--fecha {
  margin-top: 28px;
  font-size: 1.2rem;
  color: #c7d2fe;
}

.buscador__info--valoracion {
  margin-top:28px;
  font-size: 2rem;
  color: #00ff9d;
}

.buscador__disponibles {
  margin-top: 28px;
  font-size: 1.2rem;
  color: #c7d2fe;
  display: flex;
  gap: 20px;
}


.buscador__info--disponible {
  margin-top: 30px;
  font-weight: 600;
  font-size: 2rem;
  color: #356bffcc;
  background-color: rgba(230, 230, 230, 0.678);
  width: fit-content;
  padding: 12px 20px;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 25px;
  box-shadow: 0 4px 12px rgba(53, 198, 255, 0.4);
}

.resultado{
  display: flex;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 40px;
  left:40px;
  width: 100px;
  height: auto;
  z-index: 10;

  transition: transform 0.7s ease;
}
.logo:hover {
  transform: scale(1.3) rotate(360deg);

}